body {
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 1.6;
    font-size: 16px;
    color: #444;
    padding: 0 10px;
}

body > * {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

body > table {
    max-width: 100%;
}

h1, h2, h3 {
	line-height: 1.2;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #888;
    background-clip: padding-box;
}

thead {
    position: sticky;
    top: 0;
    background-color: #888;
    color: white;
}

thead a, thead a:active, thead a:visited {
    color: white;
}

.status-supported {
    color: green;
}

.status-unsupported {
    color: red;
}

td.status-unknown {
    color: gray;
}

td.pre, dd.pre {
    font-family: monospace;
}

ul.pre {
    font-family: monospace;
    max-width: 750px;
}

ul.pre, ul.pre ul {
    list-style: none;
    padding: 0;
}
ul.pre ul {
    margin: 0;
    margin-left: 1.0em;
}

ul.pre ul li {
    margin-left: 0.35em;
    border-left: thin solid #444;

    /* Indent continuation lines */
    text-indent: -1.5em;
    padding-left: 1.5em;
}

ul.pre ul li:last-child {
    border-left: none;
}

ul.pre ul li:before {
    width: 0.9em;
    height: 0.6em;
    margin-right: 0.1em;
    vertical-align: top;
    border-bottom: thin solid #444;
    content: "";
    display: inline-block;
}

ul.pre ul li:last-child:before {
    border-left: thin solid #444;
}

ul.pre input[type="checkbox"] {
    display: none;
}
ul.pre input[type="checkbox"] ~ label::before {
    content: "[+]";
    color: gray;
    cursor: pointer;
}
ul.pre input[type="checkbox"]:checked ~ label::before {
    content: "[-]";
}
ul.pre input[type="checkbox"]:not(:checked) ~ ul {
    display: none;
}

.alt-formats {
    float: right;
}

dt, dd {
    padding: 4px 20px;
}

dt {
    font-weight: bold;
    float: left;
    clear: left;
    width: 150px;
    text-align: right;
}

dd.muted {
    color: gray;
}

.driver-support {
    display: flex;
    flex-wrap: wrap;
}

.driver-support > div {
    min-width: 25%;
}

.filter {
    background-color: #888;
    color: white;
    padding: 5px;
}

.filter a {
    text-decoration: none;
    color: white;
}

.warning {
    color: red;
}
