{{template "head" "Capabilities"}}

<div style="margin: 0">
  <h1>DRM database capabilities</h1>

  <p><a href="/">Back to index</a></p>

  {{with .DriverFilter}}
  <p>
      Filters:
      <span class="filter">
          {{.}}
          <a href="/capabilities" title="Clear filter">×</a>
      </span>
  </p>
  {{end}}

  <h2>Driver capabilities</h2>

  <table>
      <thead>
          <tr>
              <th>Capability</th>
              {{range .Drivers}}
              <th><a href="?driver={{.}}" title="Only show {{.}} capabilities">{{.}}</a></th>
              {{end}}
          </tr>
      </thead>
      <tbody>
          {{range $name, $drivers := .Caps}}
          <tr>
              <td class="pre">
                <a href="https://dri.freedesktop.org/docs/drm/gpu/drm-uapi.html#c.DRM_CAP_{{$name}}" title="Show docs for this capability">
                  {{$name}}
                </a>
              </td>
              {{range $.Drivers}}
              {{if index $drivers .}}
              <td>{{index $drivers .}}</td>
              {{else}}
              <td>✗</td>
              {{end}}
              {{end}}
          </tr>
          {{end}}
      </tbody>
  </table>

  <h2>Client capabilities</h2>

  <table>
      <thead>
          <tr>
              <th>Client capability</th>
              {{range .Drivers}}
              <th><a href="?driver={{.}}" title="Only show {{.}} capabilities">{{.}}</a></th>
              {{end}}
          </tr>
      </thead>
      <tbody>
          {{range $name, $drivers := .ClientCaps}}
          <tr>
              <td class="pre">
                <a href="https://dri.freedesktop.org/docs/drm/gpu/drm-uapi.html#c.DRM_CLIENT_CAP_{{$name}}" title="Show docs for this capability">
                  {{$name}}
                </a>
              </td>
              {{range $.Drivers}}
              {{if index $drivers .}}
              <td class="status-supported">✓</td>
              {{else}}
              <td class="status-unsupported">✗</td>
              {{end}}
              {{end}}
          </tr>
          {{end}}
      </tbody>
  </table>
</div>

{{template "foot"}}
