{{template "head" "Devices"}}

<h1>DRM database devices</h1>

<p><a href="/">Back to index</a></p>

{{if or .BusTypeFilter .DriverFilter}}
<p>
    Filters:
    {{with .BusTypeFilter}}
        <span class="filter">
            {{.}}
            <a href="/devices" title="Clear filter">×</a>
        </span>
    </p>
    {{end}}
    {{with .DriverFilter}}
        <span class="filter">
            {{.}}
            <a href="/devices" title="Clear filter">×</a>
        </span>
    </p>
    {{end}}
</p>
{{end}}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Bus type</th>
            <th>Vendor</th>
            <th>Name</th>
            <th>Driver</th>
        </tr>
    </thead>
    <tbody>
        {{range .Devices}}
        <tr>
            <td class="pre">
                <a href="/snapshots/{{.Key}}">{{.BusID}}</a>
            </td>
            <td>
                <a href="?bus-type={{printf "%d" .BusType}}" title="Only show {{.BusType}} devices">{{.BusType}}</a>
            </td>
            {{if .Vendor}}
            <td>{{.Vendor}}</td>
            {{else}}
            <td class="status-unknown">?</td>
            {{end}}
            {{if .Name}}
            <td>{{.Name}}</td>
            {{else}}
            <td class="status-unknown">?</td>
            {{end}}
            <td class="pre">
                <a href="?driver={{.Driver}}" title="Only show {{.Driver}} devices">{{.Driver}}</a>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
