{{template "head" "Drivers"}}

<h1>DRM database drivers</h1>

<p><a href="/">Back to index</a></p>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Latest version</th>
            <th>Latest kernel</th>
        </tr>
    </thead>
    <tbody>
        {{range .Drivers}}
        <tr>
            <td class="pre">
                <a href="/devices?driver={{.Name}}" title="Show {{.Name}} devices">{{.Name}}</a>
            </td>
            <td>{{.Desc}}</td>
            <td>{{.Version.String}}</td>
            {{if .Kernel.SysName}}
            <td>{{.Kernel.SysName}} {{.Kernel.Release}}</td>
            {{else}}
            <td class="status-unknown">?</td>
            {{end}}
        </tr>
        {{end}}
    </tbody>
</table>
