{{define "head"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {{if .}}
      {{.}} - DRM database
      {{else}}
      DRM database
      {{end}}
    </title>
    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <body>
{{end}}
