{{template "head"}}

<h1>DRM database</h1>
<p>This is a database of Direct Rendering Manager dumps. This database is
used to keep track of GPUs and DRM driver features support.</p>

<p>The database currently contains {{ .NumSnapshots }} snapshots with
{{ .NumDevices }} devices and {{ .NumDrivers }} drivers.</p>

<h2>Browse</h2>
<ul>
    <li><a href="/drivers">Drivers</a></li>
    <li><a href="/devices">Devices</a></li>
    <li><a href="/capabilities">Capabilities</a></li>
    <li><a href="/properties">Properties</a></li>
    <li><a href="/formats">Formats</a></li>
</ul>

<h2>Contributing</h2>
<p>Please help us gather more data! You can do so by uploading DRM
information from your GPU.</p>
<p>Install <a href="https://gitlab.freedesktop.org/emersion/drm_info">
<code>drm_info</code></a> and run:</p>
<pre>drm_info -j | curl -d @- https://{{ .Host }}/submit</pre>
<p>This will upload information about your GPUs, your GPU drivers and your
screens.</p>

<h2>Snapshots</h2>
<p>You can download a snapshot of the database:
<a href="/snapshot.tar.gz">.tar.gz</a>. The contents of the database can be
distributed under the terms of the
<a href="https://opensource.org/licenses/MIT">MIT License</a>.</p>

<h2>About</h2>
<p>This website is maintained by <a href="https://emersion.fr">Simon
Ser</a>. The source code is available
<a href="https://gitlab.freedesktop.org/emersion/drmdb/">on gitlab.freedesktop.org</a>.</p>

{{template "foot"}}
