{{template "head" "Properties"}}

<div style="margin: 0">
  <h1>DRM database properties</h1>

  <p><a href="/">Back to index</a></p>

  {{if or .DriverFilter .ObjectTypeFilter}}
  <p>
      Filters:
      {{with .DriverFilter}}
      <span class="filter">
          {{.}}
          <a href="/formatrs" title="Clear filter">×</a>
      </span>
      {{end}}
      {{with .ObjectTypeFilter}}
      <span class="filter">
          {{.}}
          <a href="/properties" title="Clear filter">×</a>
      </span>
      {{end}}
  </p>
  {{end}}

  <table>
      <thead>
          <tr>
              <th>Property</th>
              <th>Type</th>
              <th>Attached to</th>
              {{range $name, $_ := .Drivers}}
              <th><a href="?driver={{$name}}" title="Only show {{$name}} properties">{{$name}}</a></th>
              {{end}}
          </tr>
      </thead>
      <tbody>
          {{range $prop := .Properties}}
          <tr>
              <td class="pre">
                  <a href="/properties/{{printf "%d" $prop.ObjectType}}/{{$prop.Name}}">{{$prop.Name}}</a>
              </td>
              <td>{{$prop.Type}}</td>
              <td><a href="?object-type={{printf "%d" $prop.ObjectType}}" title="Only show {{$prop.ObjectType}} properties">
                  {{$prop.ObjectType}}
              </a></td>
              {{range $drv, $_ := $.Drivers}}
              {{if index $prop.Drivers $drv}}
              <td class="status-supported">✓</td>
              {{else}}
              <td class="status-unsupported">✗</td>
              {{end}}
              {{end}}
          </tr>
          {{end}}
      </tbody>
  </table>
</div>

{{template "foot"}}
