{{template "head" (printf "Property: %s" .Name)}}

<h1>DRM database property: <code>{{.Name}}</code></h1>

<p><a href="/">Back to index</a></p>

<h2>Details</h2>

<dl>
    <dt>Name</dt>
    <dd><code>{{.Name}}</code></dd>

    <dt>Flags</dt>
    {{if len .Flags}}
    <dd>{{join .Flags ", "}}</dd>
    {{else}}
    <dd class="muted">&lt;none&gt;</dd>
    {{end}}

    <dt>Type</dt>
    <dd>{{.Prop.Type}}</dd>

    <dt>Attached to</dt>
    <dd>{{.ObjectType}}</dd>

    <dt>Specification</dt>
    {{if .Spec}}
    <dd class="pre">{{.Spec}}</dd>
    {{else}}
    <dd class="muted">&lt;none&gt;</dd>
    {{end}}
</dl>

{{if .Doc}}
<h2>Documentation</h2>

<p><pre>{{.Doc}}</pre></p>
{{end}}

<h2>Driver support</h2>

<div class="driver-support">
{{range $name, $ok := .Drivers}}
  <div>
    {{if $ok}}
    <span class="status-supported">✓</span>
    <a href="/properties/{{printf "%d" $.ObjectType}}/{{$.Name}}/devices?driver={{$name}}" title="Show {{$name}} devices supporting this property">{{$name}}</a>
    {{else}}
    <span class="status-unsupported">✗</span>
    {{$name}}
    {{end}}
  </div>
{{end}}
</div>

{{template "foot"}}
