{{template "head" (printf "Devices with %s property: %s" .ObjectType .PropertyName)}}

<h1>DRM database devices with {{.ObjectType}} property: {{.PropertyName}}</h1>

<p><a href="/">Back to index</a></p>

{{with .DriverFilter}}
<p>
    Filters:
    <span class="filter">
        {{.}}
        <a href="/properties/{{printf "%d" $.ObjectType}}/{{$.PropertyName}}/devices" title="Clear filter">×</a>
    </span>
</p>
{{end}}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Bus type</th>
            <th>Vendor</th>
            <th>Name</th>
            <th>Driver</th>
        </tr>
    </thead>
    <tbody>
        {{range .Devices}}
        <tr>
            <td class="pre">
                <a href="/snapshots/{{.Key}}">{{.BusID}}</a>
            </td>
            <td>{{.BusType}}</td>
            {{if .Vendor}}
            <td>{{.Vendor}}</td>
            {{else}}
            <td class="status-unknown">?</td>
            {{end}}
            {{if .Name}}
            <td>{{.Name}}</td>
            {{else}}
            <td class="status-unknown">?</td>
            {{end}}
            <td class="pre">
                <a href="?driver={{.Driver}}" title="Only show {{.Driver}} devices">{{.Driver}}</a>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
