{{template "head" "Snapshot"}}

<h1>DRM database snapshot</h1>

<p>
	<span class="alt-formats">
		<a href="/snapshots/{{.Key}}.json">.json</a>
	</span>
	<a href="/">Back to index</a>
</p>

<ul>
	<li><a href="#tree">Latest snapshot</a></li>
	<li><a href="#alt-devices">Other snapshots ({{len .AltDevices}})</a></li>
</ul>

<h2 id="tree">Snapshot</h2>

{{define "formats"}}
<ul>
	{{range .}}
	<li><a href="/formats?format={{printf "%d" .}}">{{.}}</a></li>
	{{end}}
</ul>
{{end}}

{{define "in-formats"}}
<ul>
	{{range .}}
	<li>{{"" -}}
		<a href="/formats?modifier={{printf "%d" .Modifier}}">{{.Modifier}}</a>
		{{template "formats" .Formats}}
	</li>
	{{end}}
</ul>
{{end}}

{{define "properties"}}
<li>Properties
	<ul>
		{{range $name, $value := .Properties}}
		<li>"<a href="/properties/{{printf "%d" $.ObjectType}}/{{$name}}">{{$name}}</a>"
			{{- if and .Immutable .Atomic}}
				(immutable, atomic)
			{{- else if .Immutable}}
				(immutable)
			{{- else if .Atomic}}
				(atomic)
			{{- end -}}
			: {{.Type}}
			{{with .Spec}}{{.}}{{end}}
			{{$typ := printf "%T" .Data}}
			{{if eq $typ "[]drmtree.PlaneInFormatsModifier"}}
			{{template "in-formats" .Data}}
			{{else if eq $typ "[]drm.Format"}}
			{{template "formats" .Data}}
			{{else if and (eq .Type.String "object") (ne .Value 0) (eq .Spec.String "CRTC" "connector" "encoder" "plane")}}
			= <a href="#object-{{.Value}}">{{.ValueString}}</a>
			{{else}}
			= {{.ValueString}}
			{{end}}
		</li>
		{{end}}
	</ul>
</li>
{{end}}

{{define "connector"}}
<ul>
	<li>Object ID: {{.ID}}</li>
	<li>Type: {{.Type}}</li>
	<li>Encoders:
		{{"{" -}}
		{{- range $i, $enc := .Encoders -}}
			{{- if gt $i 0}}, {{end -}}
			<a href="#object-{{$enc}}">{{$enc}}</a>
		{{- end -}}
		{{"}"}}
	</li>
	{{template "properties" .}}
</ul>
{{end}}

{{define "encoder"}}
<ul>
	<li>Object ID: {{.ID}}</li>
	<li>Type: {{.Type}}</li>
	<li>CRTCs:
		{{"{" -}}
		{{- range $i, $value := bits .PossibleCRTCs -}}
			{{- if gt $i 0}}, {{end -}}
			<a href="#crtc-{{.}}">{{.}}</a>
		{{- end -}}
		{{"}"}}
	</li>
	<li>Clones:
		{{"{" -}}
		{{- range $i, $value := bits .PossibleClones -}}
			{{- if gt $i 0}}, {{end -}}
			<a href="#encoder-{{.}}">{{.}}</a>
		{{- end -}}
		{{"}"}}
	</li>
</ul>
{{end}}

{{define "crtc"}}
<ul>
	<li>Object ID: {{.ID}}</li>
	<li>Gamma size: {{.GammaSize}}</li>
	{{template "properties" .}}
</ul>
{{end}}

{{define "plane"}}
<ul>
	<li>Object ID: {{.ID}}</li>
	<li>CRTCs:
		{{"{" -}}
		{{- range $i, $value := bits .PossibleCRTCs -}}
			{{- if gt $i 0}}, {{end -}}
			<a href="#crtc-{{.}}">{{.}}</a>
		{{- end -}}
		{{"}"}}
	</li>
	<li>Formats:
		{{template "formats" .Formats}}
	</li>
	{{template "properties" .}}
</ul>
{{end}}

{{with .Node.Driver.Kernel.Tainted}}
  {{if .Proprietary}}
    <p class="warning">⚠ This snapshot was captured with a proprietary driver loaded.</p>
  {{end}}
  {{if .StagingDriver}}
    <p class="warning">⚠ This snapshot was captured with a staging driver loaded.</p>
  {{end}}
  {{if .ExternalModule}}
    <p class="warning">⚠ This snapshot was captured with an external module loaded.</p>
  {{end}}
{{end}}
{{if .Node.Driver.Kernel.IsUnstableRelease}}
  <p class="warning">⚠ This snapshot was not captured on a stable kernel release.</p>
{{end}}

{{with .Node}}
<ul class="pre">
	{{with .Driver}}
	<li id="driver">Driver:
		<a href="/devices?driver={{.Name}}">{{.Name}}</a>
		({{.Desc}}) version {{.Version}} on {{.Kernel.String}}
		<ul>
			{{range $name, $ok := .ClientCaps}}
			<li>{{"" -}}
				<a href="https://dri.freedesktop.org/docs/drm/gpu/drm-uapi.html#c.DRM_CLIENT_CAP_{{$name}}" title="Show docs for this capability">{{"" -}}
					DRM_CLIENT_CAP_{{$name -}}
				</a>
				{{if $ok}}supported{{else}}unsupported{{end}}
			</li>
			{{end}}
			{{range $name, $value := .Caps}}
			<li>{{"" -}}
				<a href="https://dri.freedesktop.org/docs/drm/gpu/drm-uapi.html#c.DRM_CAP_{{$name}}" title="Show docs for this capability">{{"" -}}
					DRM_CAP_{{$name -}}
				</a>
				{{if $value}}
				= {{$value}}
				{{else}}
				unsupported
				{{end}}
			</li>
			{{end}}
		</ul>
	</li>
	{{end}}

	{{with .Device}}
	<li id="device">Device:
		{{.BusType}} {{.BusID}} {{$.DeviceVendor}} {{$.DeviceName}}
	</li>
	{{end}}

	{{with .Connectors}}
	<li id="connectors">
		<input type="checkbox" id="show-connectors" checked>
		<label for="show-connectors"></label>
		Connectors
		<ul>
			{{range $i, $conn := .}}
			<li id="object-{{.ID}}">Connector {{$i}}
				<span id="connector-{{$i}}"></span>
				{{template "connector" .}}
			</li>
			{{end}}
		</ul>
	</li>
	{{end}}

	{{with .Encoders}}
	<li id="encoders">
		<input type="checkbox" id="show-encoders" checked>
		<label for="show-encoders"></label>
		Encoders
		<ul>
			{{range $i, $enc := .}}
			<li id="object-{{.ID}}">Encoder {{$i}}
				<span id="encoder-{{$i}}"></span>
				{{template "encoder" .}}
			</li>
			{{end}}
		</ul>
	</li>
	{{end}}

	{{with .CRTCs}}
	<li id="crtcs">
		<input type="checkbox" id="show-crtcs" checked>
		<label for="show-crtcs"></label>
		CRTCs
		<ul>
			{{range $i, $crtc := .}}
			<li id="object-{{.ID}}">CRTC {{$i}}
				<span id="crtc-{{$i}}"></span>
				{{template "crtc" .}}
			</li>
			{{end}}
		</ul>
	</li>
	{{end}}

	{{with .Planes}}
	<li id="planes">
		<input type="checkbox" id="show-planes" checked>
		<label for="show-planes"></label>
		Planes
		<ul>
			{{range $i, $plane := .}}
			<li id="object-{{.ID}}">Plane {{$i}}
				<span id="plane-{{$i}}"></span>
				{{template "plane" .}}
			</li>
			{{end}}
		</ul>
	</li>
	{{end}}
</ul>
{{end}}

<h2 id="alt-devices">Other snapshots</h2>

{{if eq (len .AltDevices) 0}}
<p>No other snapshots available</p>
{{else}}
<table>
	<thead>
		<tr>
			<th>Key</th>
			<th>Driver</th>
			<th>Kernel</th>
		</tr>
	</thead>
	<tbody>
		{{range .AltDevices}}
		<tr>
			<td class="pre">
				<a href="/snapshots/{{.Key}}">{{.Key}}</a>
			</td>
			<td>{{.Driver.Name}} {{.Driver.Version.String}}</td>
			{{if .Driver.Kernel.SysName}}
			<td>{{.Driver.Kernel.SysName}} {{.Driver.Kernel.Release}}</td>
			{{else}}
			<td class="status-unknown">?</td>
			{{end}}
		</tr>
		{{end}}
	</tbody>
</table>
{{end}}
